<nz-layout class="layout">

  <!-- <app-loading *ngIf="loading"></app-loading> -->
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzBreakpoint]="'lg'" [nzCollapsedWidth]="0"
    [nzZeroTrigger]="zeroTrigger">
    <div class="menu">
      <div nz-row [nzGutter]="4" class="form">
        <div nz-col [nzSpan]="24">
          <ul nz-menu nzMode="horizontal" [nzTheme]="'dark'">
            <li nz-submenu nzTitle="Students AM" nzIcon="down-square">
              <ul>
                <li nz-menu-item [routerLink]="['/', 'core', 'ed', 'eq', '3131']">
                  Ph 3131
                </li>
                <li nz-menu-item [routerLink]="['/', 'core', 'ed', 'eq', '3943']">
                  Ph 3943
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div nz-row [nzGutter]="4" class="form">
        <div nz-col [nzSpan]="24">
          <div class="item">
            <label for="">Points</label>
            <input nz-input type="number" placeholder="Size" [(ngModel)]="size" />
          </div>
        </div>
        <div nz-col [nzSpan]="24">
          <div class="item">
            <label for="">Time start</label>
            <input nz-input type="number" placeholder="Time Start" [(ngModel)]="timeStart" />
          </div>
        </div>
        <div nz-col [nzSpan]="24">
          <div class="item">
            <label for="">Time end</label>
            <input nz-input type="number" placeholder="Time End" [(ngModel)]="timeEnd" />
          </div>
        </div>
        <div nz-col [nzSpan]="24">
          <div class="item">
            <label for="">Time step</label>
            <input nz-input type="number" placeholder="Time Step" [(ngModel)]="timeStep" />
          </div>
        </div>
        <div nz-col [nzSpan]="24">
          <button nz-button nzType="primary" nzBlock (click)="start();">
            Start
          </button>
        </div>
        <hr />
        <div nz-col [nzSpan]="24">
          <div class="item">
            <label for="">Refresh Latency</label>
            <input nz-input type="number" placeholder="Time Step" [(ngModel)]="_edCoreService.refreshLatency" />
          </div>
        </div>
      </div>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <div class="p-3">
          <h3>Project in Exact Diagonalization (ED)</h3>

          <!-- <ul>
                        <li>
                            <a href="#" [routerLink]="['/', 'core', 'ed', 'eq', '3943']">ph3943</a>
                        </li>
                        <li>
                            <a href="#" [routerLink]="['/', 'core', 'ed', 'eq', '3131']">ph3131</a>
                        </li>
                    </ul> -->
          <!-- <div class="state-container">
            <ng-container *ngFor="let s of states">
              <div class="item">
                <plotly-plot [data]="s.data" [layout]="s.layout"></plotly-plot>
              </div>
            </ng-container>
          </div> -->

          <!-- <div class="selection">Select a state: <nz-select [(ngModel)]="singleValue" [nzSize]="size"
              (ngModelChange)="selectNewData(singleValue)">
              <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value">
              </nz-option>
            </nz-select>
          </div> -->

          <div class="progress-wrapper">
            <nz-progress *ngFor="let progress of progresses" [nzPercent]="(progress | async)" nzType="circle"
              [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }" [style.width]="  100 / progresses.length + '%'">
            </nz-progress>
          </div>

          <!-- <plotly-plot [data]="data" [layout]="layout"></plotly-plot> -->
          <div class="chart-container">
            <ngx-highchart [options]="options" [modules]="['highcharts-3d', 'highcharts-more']" (load)="onLoad($event)">
            </ngx-highchart>
          </div>
          <div class="d-flex mt-1">
            <plotly-plot class="mr-1" [data]="avgData | async" [layout]="avgLayout"></plotly-plot>
            <plotly-plot [data]="diasporaData | async" [layout]="diasporaLayout"></plotly-plot>
          </div>

        </div>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
<ng-template #zeroTrigger>
  <i nz-icon nzType="menu-fold" nzTheme="outline"></i>
</ng-template>