:host {
  .layout {
    height: 100%;
  }
}

.state-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .item {
    display: block;
  }
}

.selection {
  width: 200px;
}

nz-select {
  width: 200px !important;
}

.chart-container {
  transform: translateX(-55px);
}
