<div nz-row nzType="flex" nzAlign="middle" class="header">
  <div class="logo">
    <div class="image"><img [src]="'assets/images/logo.png'" alt="" /></div>
    <div>Ph351 - Computational Physics</div>
  </div>
  <ul nz-menu nzMode="horizontal" [nzTheme]="'dark'">
    <li nz-submenu nzTitle="Project" nzIcon="down-square">
      <ul>
        <li nz-menu-item [routerLink]="['/', 'core', 'pde' ]">
          Pde
        </li>
        <li nz-menu-item [routerLink]="['/', 'core', 'ed' ]">
          ED
        </li>
      </ul>
    </li>
  </ul>

</div>