<div nz-row nzType="flex" nzAlign="middle" class="header">
  <div class="logo">
    <div class="image"><img [src]="'assets/images/logo.png'" alt="" /></div>
    <div>Ph351 - Computational Physics</div>
  </div>
  <ul nz-menu nzMode="horizontal" [nzTheme]="'dark'">
    <li nz-submenu nzTitle="Students AM" nzIcon="down-square">
      <ul>
        <li nz-menu-item [routerLink]="['/', 'core', 'pde', 'eq', '3131']">
          Ph 3131
        </li>
        <li nz-menu-item [routerLink]="['/', 'core', 'pde', 'eq', '3943']">
          Ph 3943
        </li>
      </ul>
    </li>
  </ul>
</div>
