<div class="d-flex flex-column h-100">
  <label for="exampleFormControlInput1" class="mr-3">Constant axis</label>
  <nz-radio-group [(ngModel)]="radioValue">
    <label nz-radio nzValue="x" (click)="selectConstantAxis('x')">x</label>
    <label nz-radio nzValue="y" (click)="selectConstantAxis('y')">y</label>
  </nz-radio-group>
  <!-- <div>
    <label for="exampleFormControlSelect1" class="mr-3">
      H index ({{ selectedH$$ | async }})</label
    >
    <nz-slider
      [(ngModel)]="selectedH$$"
      [nzMin]="0"
      [nzMax]="hMaxValue | async"
      (change)="selectH($event.target.value)"
    ></nz-slider>
  </div> -->
  <form class="p-2">
    <div class="form-group">
      <label for="exampleFormControlSelect1" class="mr-3">
        H index ({{ selectedH$$ | async }})</label>
      <input type="range" name="points" id="points" value="selectedH$$ | async" min="0" [max]="hMaxValue | async"
        [value]="selectedH$$ | async" data-show-value="true" data-popup-enabled="true"
        (change)="selectH($event.target.value)" />
    </div>
  </form>

  <plotly-plot class="flex-grow" [data]="data$ | async" [layout]="graph.layout"></plotly-plot>
</div>
