/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');
@import '~katex/dist/katex.css';

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Didact Gothic',
    sans-serif;
  height: 100%;
}
